.heroBtn {
    background-color: var(--accent-color);
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: var(--border-radius);
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
    transition: all 0.3s ease;

    &:hover {
        background-color: var(--background);
        box-shadow: 0 0 10px var(--accent-color);
    }

    .heroBtnIcon {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        opacity: 0;
        margin-left: 0;
        transition: opacity 0.3s ease, margin-left 0.3s ease;
    }

    &:hover .heroBtnIcon {
        opacity: 1;
        margin-left: 10px;
    }
}
