.heroBtn {
    background-color: var(--accent-color);
    color: var(--background);
    border: none;
    padding: 12px 24px;
    border-radius: var(--border-radius);
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
    transition: all 0.3s ease;
    font-weight: bold;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

    &:hover {
        background-color: var(--background);
        color: var(--accent-color);
        box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
        transform: translateY(-2px);
    }

    .heroBtnIcon {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        opacity: 0;
        margin-left: 0;
        transition: all 0.3s ease;
    }

    &:hover .heroBtnIcon {
        opacity: 1;
        margin-left: 10px;
        transform: translateX(4px);
    }
}

.highlight {
    color: var(--accent-color);
    background: var(--gray);
    padding: 0.5rem 1rem;
    border-radius: var(--border-radius);
    position: relative;
    display: inline-block;
    transition: all 0.3s ease;

    &:hover {
        transform: translateY(-2px);
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    }
}
