.navItem {
    padding: 0.5rem 1rem;
    border-radius: var(--border-radius);
    border: 2px solid transparent; 
    transition: background-color 0.3s, border 0.3s;

    &:hover {
        background-color: #363540;
        border-color: #505050; 
    }
}

.navItemSelected {
    background-color: #363540; 
    color: white;
    font-weight: bold; 
    border-radius: var(--border-radius);
}
