
@font-face {
    font-family: "Regular";
    src: url("../fonts/ttf/RobotoMono-Regular.ttf") format('truetype'),
         url("../fonts/ttf/RobotoMono-Regular.woff") format('woff');
}

@font-face {
    font-family: "Medium";
    src: url("../fonts/ttf/RobotoMono-Medium.ttf") format('truetype'),
         url("../fonts/woff/RobotoMono-Medium.woff") format('woff');
}

@font-face {
    font-family: "Bold";
    src: url("../fonts/ttf/RobotoMono-Bold.ttf") format('truetype'),
         url("../fonts/woff/RobotoMono-Bold.woff") format('woff');
}

@font-face {
    font-family: "Italic";
    src: url("../fonts/ttf/RobotoMono-Italic.ttf") format('truetype'),
         url("../fonts/woff/RobotoMono-Italic.woff") format('woff');
}

:root{
    --background-color: #342E37;
    --text-color: #FAFFFD;
    --active-color: #FA824C;
    --primary-color: #9FD356;
}

html, 
body{
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: 'Regular', sans-serif;
    font-size: 1em;
    margin: 0;
    padding: 0;
    height: 100%;
}


/** GENERAL */
a{
    text-decoration: none;
    color: var(--text-color);
}
a:hover{
    color: var(--active-color);
}
.section{
    min-height: 100%;
    margin-top: 100px;
}
.green{
    color: var(--primary-color);
}
.section-title {
    font-family: 'Medium', sans-serif;
    font-size: 3.2em;
    padding-top: 10%;
    text-align: center;
    text-transform: uppercase;
    color: var(--primary-color);
}
@media screen and (max-width: 450px) {
    .section-title{
        padding-top: 30%;
    }
}
@media screen and (max-width: 992px) and (min-width:450px) {
    .section-title{
        padding-top: 20%;
    }
}
.section-title-line{
   margin: 6px auto 0 auto;
   border: 1.5px solid var(--primary-color);
}

h4{
    font-family: 'Bold', sans-serif;
    font-size: 1.5em;
    color: var(--primary-color);
}

/***** HEADER */
.navbar{
    height: 90px;
    position: fixed;
    background-color: var(--background-color);
    top: 0;
    left: 0;
    width: 100%;
    z-index: 3;
}
@media screen and (max-width: 992px) {
    .navbar .container-fluid{
        background-color: var(--background-color);
        margin-top: -20px;
        padding: 0 50px;
        box-shadow: 0px 1px 1px 1px #222222;
    }

}

.navbar.box-shadow{
    box-shadow: 0px 1px 1px 1px #222222;
}
.navbar-nav .nav-link{
    color: var(--text-color);
}
.nav-item > .nav-link.active{
    color: var(--active-color);
}
.navbar-toggler{
    box-shadow: 0px 0px 0px 1px var(--text-color);
}
.navbar-toggler:focus{
    box-shadow: 0px 0px 1px 0px var(--text-color);
}
.navbar-toggler-icon{
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(250, 255, 253, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

/******* HOME */
#home{
    margin-top: 25vh;
}
#home h1{
   
    font-family: 'Bold', sans-serif;
}
.side-logo{
    margin-top: -50px;
}
@media screen and (max-width:758px) {
    .side-logo{
        margin-top: -10px;
    }
}
.tags{
    background-color: var(--primary-color);
    color: var(--background-color);
    font-family: "Medium", sans-serif;
    padding: 10px;
    width: 260px;
    margin: 0 auto;
    font-size: 1.2em;
    border-radius: 10px 2px 10px 2px;
    
}
@media screen and (max-width: 975px) {
    .tags{
        width: 200px;
    }
}
@media screen and (max-width: 758px) {
    .tags{
        width: 180px;
        font-size: 1em;
    }
}
@media screen and (max-width: 300px) {
    .tags{
        width: 140px;
        font-size: .8em;
    }
}

/******* ABOUT */
.about-me .header{
    font-size: 2.5em;
    font-family: 'Bold', sans-serif;
}
.about{
    margin-top: 5vh;
}
.about-me .info{
    margin-top: 1vh;
}
.icons{
    margin-top: 3vh;
}
.icon img{
    width: 60px;
}
.icon a img:hover{
    transform: scale(1.05);
    transition: all 100ms;
}
@media screen and (max-width:975px) {
    .about .avatar img{
        width: 100%;
    }
    .about .about-me{
        margin-top: -1vh;
    }
    .about .about-me > .header{
        font-size: 1.5em;
        text-align: center;
    }
    .about .about-me > .info{
        margin: 10px;
    }
    .icon img{
        width: 50px;
    }
}


/******** PROJECT */
#repos{
    margin: 8vh 0;
}
#repos .card{
    background-color: var(--background-color);
    border-color: var(--primary-color);
    min-height: 400px;

}
#repos .btn-redirect{
    background-color: var(--primary-color);
    border-color: var(--primary-color);
}
#repos .card-title{
    font-family: 'Bold', sans-serif;
    font-size: 1.5em;
}
#repos .card-text{
    font-family: 'Regular', sans-serif;
    font-size: .9em;
}
#repos .btn-redirect:hover{
    background-color: var(--active-color);
    border-color: var(--active-color);
}


/***** SKILLS */
.skills{
    margin: 0 10px 0 0 ;
}
div.skill{
    background-color: var(--background-color);
    border: 1px solid var(--primary-color);
    border-radius: 5px;
    margin: 1vw;

}
.skill:hover{
    transform: scale(1.02);
    cursor: pointer;
    transition:  all 100ms ease-in-out;
}
.skill-icon{
    margin-bottom: 10px;
}
.skill-name{
    text-align: center;
}


/******* CONTACT */
.form-container{
    margin: 5vh auto 0 auto;
}
.form-container .input{
    width: 40vw;
    margin: 0 auto;
}
.btn-submit{
    background-color: var(--primary-color);
    border-color: var(--primary-color);
    width: 50%;
    }
.btn-submit:hover{
    background-color: var(--active-color);
    border-color: var(--active-color);
}
.form-control:focus{
    box-shadow: 0px 0px 1px 1px var(--primary-color);
}
@media screen and (max-width: 975px) {
    .form-container .input{
        width: 100%;
        margin: 0 auto;
    }
    .btn-submit{
        width: 100%;
    }
}

/******** FOOTER */
#footer{
    margin-top: 200px;
}