    @import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@700&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200&display=swap');
    /****************************** GENERAL  ******************************/
    
     :root {
        --background: #151515;
        --second-background: #212121;
        --main: #38b000;
        --highlight: #a2a012;
        --font-family: 'Source Sans Pro', sans-serif;
        --text-color: #ffffff;
        --right: margin-right: 422px;
        --left: margin-left: 422px;
        --hover-main: #dd7700;
        --hover-btn: #008000;
    }
    
     ::selection {
        color: var(--text-color);
        background-color: #696969;
    }
    
    *:hover {
        transition: all 300ms;
        -webkit-transition: all 300ms;
        -moz-transition: all 300ms;
        -o-transition: all 300ms;
    }
    
    a {
        color: var(--text-color);
        text-decoration: none;
    }
    
    li {
        list-style-type: none;
    }
    
    .right {
        margin-right: 11%;
    }
    
    .left {
        margin-left: 11%;
    }
    
    section {
        min-height: 100%;
    }
    
    h3 {
        padding-top: 5%;
        text-align: center;
        font-size: 35px;
    }
    
    hr {
        width: 100px;
        margin-top: -40px;
        border: 0.5px solid var(--main);
    }
    
    .highlight {
        color: var(--hover-main);
    }
    
    .highlight:hover {
        color: var(--highlight);
    }
    
    .ad {
        margin: 0 auto;
        text-align: center;
    }
    
    .active {
        color: var(--hover-main);
    }
    /****************************** GENERAL BODY ******************************/
    
    html,
    body {
        background-color: var(--background);
        color: var(--text-color);
        width: 100%;
        padding: 0;
        margin: 0 auto;
        font-family: var(--font-family);
        scroll-behavior: smooth;
    }
    /****************************** HEADER ******************************/
    
    header {
        position: fixed;
        height: 60px;
        background-color: var(--second-background);
        left: 0;
        top: 0;
        width: 100%;
        font-size: 18px;
        font-weight: 600;
        border-bottom: 1px solid rgba(155, 155, 155, 0.03);
        z-index: 1;
    }
    
    header img {
        width: 200px;
        height: 50px
    }
    
    .logo {
        padding: 5px 0 0 15px;
        cursor: pointer;
    }
    
    #navbar {
        display: flex;
        justify-content: space-between;
        max-width: 1100px;
        margin: 0 auto;
    }
    
    #navbar ul {
        display: flex;
    }
    
    #navbar ul li a {
        padding: 0 1.2rem;
    }
    
    #navbar ul li a:hover {
        padding: 0 1.2rem;
    }
    
    #menu_bar {
        float: right;
        margin: 6px 5px 0 0;
        display: none;
    }
    
    #menu_bar:hover {
        cursor: pointer;
        opacity: 0.7;
    }
    
    #navbar ul li a:hover {
        color: var(--hover-main);
    }
    
    @media screen and (max-width:760px) {
        header img {
            width: 160px;
        }
        #menu_bar {
            display: inline;
        }
        #navbar {
            display: inline;
        }
        #navbar ul {
            height: 0;
            margin: -1px 0 0 0;
            float: none;
            overflow: hidden;
            background: var(--second-background);
            width: 100%;
            display: inline-block;
            padding: 0;
        }
        #navbar ul.open {
            height: auto;
        }
        #navbar ul.open:after {
            content: '';
            border-bottom: 1px solid rgba(155, 155, 155, 0.03);
        }
        #navbar li {
            padding: 0.7rem 0;
        }
    }
    /****************************** HOME ******************************/
    
    #home_container {
        margin: 180px auto 0 auto;
        text-align: center;
    }
    
    #home_container img {
        border-radius: 50%;
        width: 200px;
    }
    
    .home_header {
        font-size: 30px;
        font-family: var(--font);
    }
    
    #social-media {
        padding: 0;
        margin: 30px 0 0 0;
        display: flex;
        justify-content: center;
        flex-direction: row;
    }
    
    #social-media li {
        padding: 0 0.4rem;
    }
    
    #social-media li:hover {
        transform: scale(1.1);
    }
    
    #social-media li img {
        width: 2em;
        border-radius: 0;
    }
    
    #contatct_me-btn a {
        color: #000000;
        font-size: 1.3rem;
        font-weight: 510;
    }
    
    #contatct_me-btn {
        background-color: var(--main);
        color: #000000;
        font-family: var(--font);
        margin: 40px 0 0 0;
        cursor: pointer;
        width: 220px;
        height: 50px;
        border-radius: 50px;
        border: 1px solid transparent;
    }
    
    #contatct_me-btn:hover {
        background-color: var(--hover-btn);
    }
    
    .arrow {
        box-sizing: border-box;
        height: 48px;
        width: 48px;
        border-style: solid;
        border-color: white;
        border-width: 0px 1px 1px 0px;
        transform: rotate(45deg);
        transition: border-width 150ms ease-in-out;
        margin: 140px auto 0 auto;
    }
    
    .arrow:hover {
        border-bottom-width: 5px;
        border-right-width: 5px;
    }
    
    @media screen and(max-width:920px) {
        #home_container {
            width: 95%;
        }
    }
    /****************************** ABOUT  ******************************/
    
    #about_me-container {
        display: flex;
        flex-direction: row;
        margin: 100px 0 0 0;
        padding: 0;
        align-items: center;
        justify-content: center;
    }
    
    #about_me-container img {
        width: 300px;
        border-radius: 5%;
    }
    
    #about_me-info {
        margin-left: 100px;
    }
    
    .name {
        font-size: 40px;
        border-bottom: 1px solid grey;
    }
    
    #about_me-container p {
        width: 500px;
        font-family: var(--font);
        font-weight: 300;
        font-size: 20px;
    }
    
    @media screen and (max-width:924px) {
        #about_me-container img {
            width: 220px;
        }
        #about_me-container {
            flex-direction: column;
            margin: 50px 0 0 0;
            padding: 0 5px;
        }
        #about_me-container p {
            text-align: center;
            padding: 0;
            margin: 40px auto 0 auto;
            width: 95%;
            font-weight: 500;
        }
        #about_me-info {
            margin-left: 0;
        }
        .name {
            display: none;
        }
        .info {
            margin: 0;
            padding: 0;
        }
    }
    /****************************** PROJECTS  ******************************/
    
    #my-projects {
        display: grid;
        grid-template-columns: auto auto auto;
        justify-content: center;
        grid-gap: 50px;
        margin: 80px 0 0 0;
    }
    
    .project {
        cursor: pointer;
    }
    
    .project img {
        border-radius: 5px;
    }
    
    .project img:hover {
        transform: scale(1.05);
    }
    
    @media screen and (max-width:1120px) {
        #my-projects {
            grid-template-columns: auto auto;
        }
    }
    
    @media screen and (max-width:740px) {
        #my-projects {
            grid-template-columns: auto;
        }
        .project {
            width: 95%;
            margin: 0 auto;
        }
        .project img {
            width: 100%;
        }
    }
    
    #more_btn a {
        color: #000;
        font-size: 1.3rem;
    }
    
    #projects #more_btn {
        width: 130px;
        height: 40px;
        margin: 50px auto 0 auto;
        display: block;
        border-radius: 4px;
        border: 2px solid #000;
    }
    
    #more_btn:hover {
        background-color: var(--hover-main);
    }
    /****************************** SKILLS  ******************************/
    
    #skills_container {
        background-color: var(--second-background);
        width: 50%;
        margin: 40px auto;
        height: auto;
        border-radius: 5px;
    }
    
    .skill:first-child {
        padding-top: 50px;
    }
    
    .skill:last-child {
        padding-bottom: 50px;
    }
    
    .skill {
        padding: 20px 50px;
    }
    
    .skill_info {
        font-size: 1.5rem;
        color: var(--main);
        font-weight: 600;
    }
    
    .about_skill {
        padding-left: 0.5rem;
        font-size: 1.2rem;
        color: #ffffff;
        border: none;
    }
    
    @media screen and (max-width:924px) {
        #skills_container {
            width: 95%;
        }
    }
    /****************************** CONTACT ******************************/
    
    input[type=text],
    input[type=email],
    input[type=subject],
    textarea {
        width: 700px;
        padding: 15px;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
        margin-bottom: 16px;
        outline: none;
        font-size: 1.05rem;
    }
    
    input[type=text]:focus,
    input[type=email]:focus,
    input[type=subject]:focus,
    textarea:focus {
        border-color: var(--main);
    }
    
    .container label {
        text-align: left;
        font-size: 1.3rem;
    }
    
    input[type=submit] {
        background-color: var(--main);
        color: rgb(0, 0, 0);
        padding: 11px 100px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        font-size: 1.4rem;
        margin-right: 430px;
    }
    
    input[type=submit]:hover {
        background-color: var(--hover-btn);
    }
    
    .container {
        margin: 50px auto;
        text-align: center;
        margin-top: 50px;
    }
    
    @media screen and (max-width:760px) {
        .ad {
            display: none;
        }
        input[type=text],
        input[type=email],
        input[type=subject],
        input[type=submit],
        textarea {
            width: 95%;
            margin: 0 auto 16px auto;
        }
    }