@font-face {
  font-family: 'RobotoMono-Bold';
  src: url('../../src/assets/fonts/RobotoMono-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'RobotoMono-Italic';
  src: url('../../src/assets/fonts/RobotoMono-Italic.ttf') format('truetype');
}

@font-face {
  font-family: 'RobotoMono-Medium';
  src: url('../../src/assets/fonts/RobotoMono-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'RobotoMono-Regular';
  src: url('../../src/assets/fonts/RobotoMono-Regular.ttf') format('truetype');
}

:root {
  --bb-text-color-light: #d5d5d5;
  --bb-background-color: #342e37;
  --bb-accent-color: #9fd356;
  --bb-second-accent-color: #fa824c;

  --bb-bold-font: 'RobotoMono-Bold';
  --bb-italic-font: 'RobotoMono-Italic';
  --bb-medium-font: 'RobotoMono-Medium';
  --bb-regular-font: 'RobotoMono-Regular';
}

body {
  background-color: var(--bb-background-color);
  color: var(--bb-text-color-light);
  font-family: var(--bb-regular-font);
  height: 100%;
  margin: 0;
  padding: 0;
  
} 

section {
  min-height: 100%;
}

.section-header {
  padding-top: 10%;
  min-height: 100%;
  text-align: center;
  font-size: 2.5rem;
  color: var(--bb-accent-color);
}

p {
  font-family: 'RobotoMono-Regular';
}

a {
  color: var(--bb-accent-color);
}
a:hover {
  color: var(--bb-second-accent-color);
}

::selection {
  background-color: var(--bb-accent-color);
  color: var(--bb-background-color);
}

.bb-second-accent-color {
  color: var(--bb-second-accent-color);
}
.bold {
  font-family: var(--bb-bold-font);
}

.hidden {
  display: none;
}